.body{
    background-color: #224e2e;
}

.textoGenera{
    font-family: arial;
    font-size: 20px;
}

.excelInput{
  width: 800px;
  margin-top: 25px;
  margin-left: 45px;
}

.contenedor{
  margin-top: 45px;
 display: inline-block;
}
.imagen{
 width: 250px;

}
.contenedorLargo{
  overflow-y: scroll;
  height: 800px;
  overflow-x: hidden;
}
.boton{
    margin-left: 25%;
    margin-top: 10px;
    display: block;
    width: 50%;
    background-color: #ffc6a7;
    color: black;
    border-radius: 8px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.boton:hover {
    color:black;
    background-color: #f6b1cf;
    
    transition: 0.5s;
    text-decoration: none;
}




.boton {
  background-image: linear-gradient(92.88deg, #4581b5 9.16%, #4371cc 43.89%, #3f49d7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.boton:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.boton.disabled {
  background-image: linear-gradient(92.88deg, #a0a0a0 9.16%, #989898 43.89%, #8f8f8f 64.72%);
  color: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
}

.boton.disabled:hover {
  box-shadow: none;
}

.form-control.disabled {
  background-image: linear-gradient(92.88deg, #a0a0a0 9.16%, #989898 43.89%, #8f8f8f 64.72%);
  color: black;
  box-shadow: none;
}

@media (min-width: 768px) {
  .boton {
    padding: 0 2.6rem;
  }
}

/* Estilos LandingProfesor */
.cajaBasica {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    padding: 10px;
    background-color: #185755;
    border-radius: 5px;
    width: 600px;
}

.tituloProfesor{
  margin-top: 35px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: arial;
  font-size: 24px;
  text-align: center;
}
.divVolver{
  padding-left: 75%;
}
/* FIN Estilos LandingProfesor */

/* Estilos detalleEquipo */
.cajaTabla {
  top: 25%;
  padding: 10px;
  width: 80%; 
  margin: 0 auto; 
  max-height: 500px;
  overflow-y: auto;
}

.cajaTabla table {
  width: 100%;
}

.cajaTabla table th,
.cajaTabla table td {
  text-align: center; 
}

/* FIN Estilos detalleEquipo */

.columnaBotones {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-left: 15%;
}

.cajaSelect {
  width: auto;
}

.cajaSelect select{
  width: 100%;
}